* {cursor: url(http://cur.cursors-4u.net/cursors/cur-11/cur1054.cur), progress !important;} 

/*BANNER AVATAR
*/
.cover-block::after {
    background-image: url(https://cdn.myanimelist.net/s/common/userimages/d81d9561-156b-411b-b9fd-3b6364401432_225w?s=1e3a66e29e1466aaa0825a075705e8a4);
}
/* BANNER QUOTE
*/
.cover-block::before {
    content: "P0bo";
}
/* ANIME/MANGA CONTAINER SETTINGS */
 
.list-table > tbody:nth-of-type(2n+1) {
    background-color: rgba(18,27,46,.28) !important;
}
.list-table > tbody:nth-of-type(2n) {
    background-color: rgba(18,27,46,.3) !important;
} 

table.list-table td:nth-child(1) {
  border-radius: 50px;
}

table.list-table td:nth-child(3) {
  width: 33px;
}

 
 /* Other code */
.list-unit .list-status-title {
    background-color: rgba(18,27,46,.3) !important; 
    border-radius:20px 20px 0 0;
}   

/* Advanced Options */

#advanced-options {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: #00085f33;
    border-radius: 20px;
    width: 826px;
    margin: 0 auto;
    padding: 25px 0px 30px;
    backdrop-filter: blur(40px);
    color: #ffffff;
    text-align: left;
    font-family: 'Helvetica neue', Helvetica, "lucida grande", tahoma, verdana, arial, sans-serif;
    z-index: 1101;
    border: 0px solid white;
}
#advanced-options .btn-apply:hover, #advanced-options .btn-clear:hover {
    background-color: rgba(40, 89, 170, 0.5);
    border-radius: 50px;
    border: 1px solid white;
}
#advanced-options .btn-apply, #advanced-options .btn-clear {
    background-color: rgba(64, 101, 186, 1);
    display: inline-block;
    width: 135px;
    margin: 0 4px;
    padding: 6px 0px;
    border-radius: 22px;
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
/*General Styles table cell radius */
td {
    line-height: 1.5em;
    height: 35px !important;
    border: none !important;
    border-radius: 0px;     
}
a {
    color: #fff;
}
a:hover {
    color: #fff !important;
}
#footer-block {
    padding: 15px 0;
    background-color: #244291;
    color: #FFFFFF;
    font-family: Avenir, "lucida grande", tahoma, verdana, arial, sans-serif;
    display: none;
}
#copyright {
    font-size: 00px;
} 

/* Round Corner of bottom cell */

.list-unit .loading-space {
    margin: 0 0 20px 0;
    height: 38px;
    font-size: 20px;
    text-align: center;
    background-color: rgba(18,27,46,.3);
    border-radius: 0 0 20px 20px;
}



/*
* Header
*/
.header a {
    font-weight: bold;
    color: #fff !important;
}
.header a:hover {
    text-decoration: underline;
}
.header {
    position: absolute;
    color: #fff;
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    border: none;
    background:none;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    z-index: 40;
}
.header:hover {
    background:linear-gradient(rgba(18,27,46,.5),transparent);
    backdrop-filter: blur(20px);
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; 
}
.header .header-menu {
    position: absolute;
    top: 5px;
    right: 4px;
}
.header .header-menu.other {
    top: 5px;
}
.header .header-menu .header-info {
    font-size: 10px;
    margin-top: 6px;
    margin-right: 15px;
    text-align: right;
}
.header .username {
    font-weight: bold;
}
.header .header-menu .list-menu {
    position: absolute;
    top: 25px;
    right: -4px;
    background-color: rgba(255,255,255,.8);
    display: none;
    border: none !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
    z-index: 1;
}
.header .header-menu .list-menu .icon-menu {
    display: block;
    width: 150px;
    height: 30px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
 .header .header-menu .list-menu .icon-menu:hover {
    background-color: rgba(18,27,46,.5);
}
.header .header-menu .list-menu .icon-menu svg.icon {
    position: absolute;
    fill: rgba(18,27,46,.5);
    left: 12px;
    top: 4px;
}
.header .header-menu .list-menu .icon-menu:hover svg.icon {
    fill: rgba(255,255,255,1) !important;
}
.header .header-menu .list-menu .icon-menu .text {
    position: absolute;
    left: 52px;
    top: 6px;
}
.header .header-menu .list-menu .icon-menu:hover .text {
    color:rgba(255,255,255,1) !important;
}
.header .header-menu .btn-menu {
    display: block;
    text-align: right;
    color: #fff !important;
    font-size: 12px !important;
    text-shadow: 0 0 2px #000, 0 0 1px #000, 1px 1px 7px #000, 0 0 0 #000;
}
#header-menu-dropdown > a {
    color: rgba(18,27,46,.5) !important;
    backdrop-filter:blur(20px);
}
.list-menu-float {
    position: fixed;
    display: block;
    top: auto;
    width: 50px;
    border: none;
    z-index: 2;
}

.list-menu-float .icon-menu {
    display: block;
    background-color: rgba(18,27,46,.1);
    border-radius: 10px;
    backdrop-filter: blur(20px);
}


 
 .list-menu-float:hover .icon-menu {
    opacity: 1;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    backdrop-filter: blur(20px);
    background-color: rgba(18,21,40,0.1);
    border-radius:10px;
} 





/*
* List Container
*/
.list-container {
    position: absolute;
    horizontal-align: middle;
    background-color: rgba(18,27,46,.2);
    width: 1200;
    left: 0;
    right: 0;
    margin: auto;
    margin-top:100px;
    border: 1px;
    margin-bottom: 30px;
    border-radius: 20px;
    backdrop-filter: blur(40px);


}

/*
* List Container - Cover Block
*/
.cover-block {
    position: relative;
    display: block;
    width: 1200px;
    margin: 0 auto;
    height: auto;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 40px;
}

.cover-block .image-container {
    display: block;
    width: 1000px;
    height: auto;
    padding-top: 0;
}

.cover-block .image-container.hide {
    display: none;
}

.cover-block .image-container img {
    max-width: 1000px;
    height: auto;
}

/* cover image */
#cover-image {
    margin: auto;
    width: 1000px !important;
    height: auto;
    background-color: transparent;
    background-size: cover !important;
    background-position: 50% 50%;
    border-radius: 1110px;
}

/* setting icon */
.cover-block .image-container .btn-list-setting {
    display: none;
}

.cover-block .image-container:hover .btn-list-setting {
    display: block;
    position: absolute;
    top: 20px;
    right: 28px;
    padding: 8px;
    border: rgba(255,255,255,0) 1px solid;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Helvetica neue', Helvetica, "lucida grande", tahoma, verdana, arial, sans-serif;
    background-color: rgba(21, 30, 46, 0.4); /* Semi-transparent black */
    border-radius: 1110px;
}



.cover-block .image-container .btn-list-setting:hover {
    position: absolute;
    top: 20px;
    right: 28px;
    padding: 8px;
    border: none;
    background-color: rgba(21, 30, 46, 0.4);
    font-size: 14px;
    color: #ffffff;
    text-shadow: #323232 1px 1px 1px;
    border-radius: 0px;
}

.cover-block .image-container .btn-list-setting .fa-camera {
    font-size: 16px;
    text-shadow: #000000 1px 1px 3px;
}

.cover-block .image-container .btn-list-setting .icon-plus-circle {
    position: absolute;
    top: 4px;
    left: 18px;
    background-color: rgba(21, 30, 46, 0.4);
    border-radius: 00%;
    font-size: 10px;
    border-radius: 0px;
}

.cover-block .image-container .btn-list-setting .text {
    display: none;
}

.cover-block .image-container .btn-list-setting:hover .text {
    display: inline-block;
    margin-left: 4px;
    border-radius: 0px;
} 

 /*
* List Container - Status Menu
*/
.status-menu-container {    
    width: 989px;
    height: 43px;
    background-color: rgba(21,30,46,.4);
    border-bottom: none;
    z-index: 1;
    margin-left: 16px;
    margin-top: -18px;
    border-radius: 10px;
}

.status-menu-container.fixed {
    position: absolute;
    display: none !important;
    top: 0;
}

.status-menu-container.fixed + div.list-block {
    margin-top: 0px;
}

.status-menu-container .status-menu {
    display: table;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 0;
}

.status-menu-container .status-menu .status-button {
    position: relative;
    display: table-cell;
    padding: 10px;
    left: 17px !important;
    font-family: 'Helvetica neue', Helvetica, "lucida grande", tahoma, verdana, arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    padding: 1.2em 10px;
    line-height: 1.105em;
    font-size: 1.1em;
    color: #ABABAB;
    border-radius: 0px;
}

.status-menu-container .status-menu .status-button.on {
    color: #fff;
    font-weight: bold;
}

.status-menu-container .status-menu .status-button:hover {
    background-color: rgba(18,27,46,.3);
    color: #fff;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    border-radius: 999px;
}

.status-menu-container .status-menu .status-button.on:after,
.status-menu .status-button:hover:after {
    opacity: 1;
}

.status-menu-container .status-menu .status-button.watching:before,
.status-menu-container .status-menu .status-button.reading:before {
    content: "\f152\00a0\00a0";
    float: left;
    font-size: 1.5em;
    font-family: 'FontAwesome' !important;
}

.status-menu-container .status-menu .status-button.completed:before {
    content: "\f05d\00a0\00a0";
    float: left;
    font-size: 1.5em;
    font-family: 'FontAwesome' !important;
}

.status-menu-container .status-menu .status-button.onhold:before {
    content: "\f017\00a0\00a0";
    float: left;
    font-size: 1.5em;
    font-family: 'FontAwesome' !important;
}

.status-menu-container .status-menu .status-button.plantowatch:before,
.status-menu-container .status-menu .status-button.plantoread:before {
    content: "\f073\00a0\00a0";
    float: left;
    font-size: 1.5em;
    font-family: 'FontAwesome' !important;
}

.status-menu-container .status-menu .status-button.dropped:before {
    content: "\f00d\00a0\00a0";
    float: left;
    font-size: 1.5em;
    font-family: 'FontAwesome' !important;
}

.status-menu-container .status-menu .status-button.all_anime:before {
    content: "\f022\00a0";
    float: left;
    font-size: 1.5em;
    font-family: 'FontAwesome' !important;
}

.status-menu-container .status-menu .status-button:after {
    display: none !important;
}

/* Scroll bar */
::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border: 2px solid #f5f5f5;
    background-color: #9B9B9B;
    border-radius: 0px;
}

/**
* List Container - Status Menu - Search
*/

.status-menu-container .search-container #search-button {
    display: inline-box-align;
    height: 22px;
    margin-top: 10px;
    color: #4165bb;
    font-size: 1.6em;
    vertical-align: middle;
}

.status-menu-container .search-container #search-box.open {
    display: inline-block;
    position: fixed;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 40px;
    border-radius: 9999px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 5, 20, 0.4);
    backdrop-filter: blur(10px);
}

.status-menu-container .search-container #search-box input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    padding: 10px;
    backdrop-filter:blur(10px);
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.5em;
}

/**
* List Container - List Table
*/
.list-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: transparent !important;
    color: #fff !important;
    border: none;
}


/**
* List Container - List Table - Header
*/
.list-table .list-table-header:before {
    content: "\f0dc\00a0";
    display: block;
    text-align: center !important;
    font-family: 'FontAwesome' !important;
    border-radius:10px;
    text-indent: 0px;
    color: #9B9B9B !important;
    font-weight: 700 !important;
    width: 20px;
    line-height: 21px;
    height: 20px;
    text-align:middle;
    margin-left: 0px !important;
}

.list-table .list-table-header:hover:before {
    color: #fff !important;
    border-radius:10;
    
}

.list-table .list-table-header {
    position: absolute;
    background: linear-gradient(270deg, #1c439b, transparent);
    border-radius: 10px;
    display: flex;
    margin-left: -67px;
    margin-top: -85px;
    z-index: 220 !important;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end; 
    opacity:0;
} 
 .list-table .list-table-header:hover {
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    opacity: 1;
}
.list-table .list-table-header .header-title {
    background: #F6F6F6 url("/img/pc/ownlist/bar-table-header.png") no-repeat right 7px / 1px 22px;
    display: block;
    border-bottom: 0;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    z-index: 60 !important;
    opacity: 0;
    border-radius:10px;
    background-color:transparent ;
}

.list-table .list-table-header:hover .header-title {
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
   border-radius:10px;
   opacity:1;
}

.list-table .list-table-header .header-title:last-child {
    background-image: none;
}

.list-table .list-table-header .header-title.status,
.list-table .list-table-header .header-title.number,
.list-table .list-table-header .header-title.image,
.list-table .list-table-header .header-title.tags {
    background-image: none;
    display: none !important;
}

.list-table .list-table-header .header-title.title {
    text-align: center;
    width: 90px;
    line-height: 40px;
    padding: 0 !important;
}

.list-table .list-table-header .header-title.score {
    text-align: center;
    width: 90px;
    line-height: 40px;
    padding: 0 !important;
}

.list-table .list-table-header .header-title.type {
    text-align: center;
    width: 90px;
    line-height: 40px;
    padding: 0 !important;
}

.list-table .list-table-header .header-title.progress {
    text-align: center;
    width: 90px;
    line-height: 40px;
    padding: 0 !important;
}

.list-table .list-table-header .header-title.chapters {
    text-align: center;
    width: 90px;
    line-height: 40px;
    padding: 0 !important;
}

.list-table .list-table-header .header-title.volumes {
    text-align: center;
    width: 90px;
    line-height: 40px;
    padding: 0 !important;
}

.list-table .list-table-header .header-title.rated {
    text-align: center;
    width: 90px;
    line-height: 40px;
    padding: 0 !important;
}

.list-table .list-table-header .header-title.started {
    display: none;
}

.list-table .list-table-header .header-title.finished {
    text-align: center;
    width: 90px;
    line-height: 40px;
    padding: 0 !important;
}

.list-table .list-table-header .header-title.days {
    text-align: center;
    width: 90px;
    line-height: 40px;
    padding: 0 !important;
}

.list-table .list-table-header .header-title.storage {
    text-align: center;
    width: 90px;
    line-height: 40px;
    padding: 0 !important;
}

.list-table .list-table-header .header-title.retail {
    text-align: center;
    width: 90px;
    line-height: 40px;
    padding: 0 !important;
}

.list-table .list-table-header .header-title.priority {
    text-align: center;
    width: 90px;
    line-height: 40px;
    padding: 0 !important;
}

.list-table .list-table-header .header-title .link {
    font-size: 11px;
    color: #323232;
    text-decoration: none;
    height: 40px;
    width: 90px;
}

.list-table .list-table-header .header-title.studio {
    display: none !important;
}

.list-table .list-table-header .header-title .link.sort {
    position: relative;
    display: inline-block;
    color: #323232;
    height: 40px;
    width: 90px;
    white-space: nowrap;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}


.list-table .list-table-header .header-title .sort-icon {
    color: #fff;
}   



.header .header-title {
    position: absolute;
    top: 7px;
    left: 77px;
    background-image: url(/img/pc/ownlist/logo_mal.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 36px;
    display: block;
    width: 240px;
    height: 36px;
    text-indent: -9999px;
    overflow: hidden;
} 
 
 
.list-menu-float .icon-menu.setting:hover .text .link-list-setting, .list-menu-float .icon-menu.setting:hover .text .link-style-setting {

    position: absolute;
    background-color: #4065BA;
    display: block;
    width: 110px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    opacity: 1;
    border-radius: 10px;
}



.list-menu-float .icon-menu.setting:hover .text .link-style-setting {
    border-top: #ebebeb00 2px solid;
    top: 52px;
}

 .list-table .list-table-data .data.image .image {
width: 30px !important;
height: 30px !important;
background-size:cover;
border:1px solid #fff;
-webkit-box-shadow:2px 2px 8px -3px rgba(0,0,0,.76);
-moz-box-shadow:2px 2px 8px -3px rgba(0,0,0,.76);
box-shadow:2px 2px 8px -3px rgba(0,0,0,.76);
border-radius:180px;
display:inline-block!important;
}
